@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid  logo_center">
    <div class="card-body">
        <div class="row ">
            <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-3 ">
                <div class="">
                    <img src="img/CaixadeRemédio.png" class="caixa_remedio" alt="...">
                </div>
            </div>
            <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-8 ">
                <div class="card border-0 mb-3 ">
                    <h3 class="text_busca">Qual Remédio você busca?</h3>
                    <h5 class="text_sobre_pesquisa">
                        Pesquise para saber
                        em quais centros de distribuição ele está disponivel
                    </h5>
                    <input type="text" class="pesquisa_remedio rounded-pill p-3 mt-5" placeholder="Digite aqui seu remédio. exemplo: clonazepam" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  table mt-5">
    <div class="card-body">
        <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-12 border border-dark  Tab_result ">
            <table class="table table-hover ">
                <thead>
                    <tr>                       
                        <th scope="col" class="local text-center">local</th>
                        <th scope="col" class="medicamento text-center">medicamento</th>
                        <th scope="col" class="disponibilidade  text-center">disponibilidade</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid border-1">
    <div class="card-body">
        <div class="row justify-content-evenly">
            <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-12 border border-dark cards">
                <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-12 border border-dark cards_obs">
                    <div class="card" style="width: 100%;height:100%;">
                        <img src="/img/OBSdrNevioOzzetti.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card  <a href="https://www.procuraqueacha.com.br/ubs/7626304/usf-dr-nevio-ozetti">saiba mais</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-12 border border-dark cards_obs">
                    <div class="card" style="width: 100%;height:100%;">
                        <img src="/img/OBSdrNevioOzzetti.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card  <a href="https://www.procuraqueacha.com.br/ubs/7626304/usf-dr-nevio-ozetti">saiba mais</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-12 border border-dark cards">
                <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-12 border border-dark cards_obs">
                    <div class="card" style="width: 100%;height:100%;">
                        <img src="/img/OBSdrNevioOzzetti.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card  <a href="https://www.procuraqueacha.com.br/ubs/7626304/usf-dr-nevio-ozetti">saiba mais</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-12 border border-dark cards_obs">
                    <div class="card" style="width: 100%;height:100%;">
                        <img src="/img/OBSdrNevioOzzetti.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card  <a href="https://www.procuraqueacha.com.br/ubs/7626304/usf-dr-nevio-ozetti">saiba mais</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid border-1 margin_bottom_card">
    <div class="card-body">
        <div class="row justify-content-evenly ">
            <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-6  bg-secondary cards_prop">
                .
            </div>
            <div class="col-12 col-lg-2 col-md-2 col-sm-2 col-xl-6 bg-secondary cards_prop">
                .
            </div>
        </div>
    </div>
</div>
