@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body{
    width:100%;
    height:100%;
}

.caixa_remedio {
    width: 200px;
    height: 378px;
}

.pesquisa_remedio {
    background-color: #E6E6E6;
}

.text_busca {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    font-variant: all-small-caps;
}

.text_sobre_pesquisa {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.04em;
    font-variant: all-small-caps;
}

.logo_center {
    margin-top: 200px;
}

.Tab_result {
    height: 400px;
    background-color: #E6E6E6;
    border-radius: 20px;
}

.local, .medicamento, .disponibilidade {
    /* font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;*/
    font-variant: small-caps;
}

.cards {
    width: 315px;
    height: 958px;
    margin-top: 200px;
}


.nav_itens {
    background-color: #D2F6F9 !important;
}

.img_logo_footer {
    width: 150px;
    height: 150px;
}

.div_logo_footer{
    justify-content:space-around !important;
}

.margin_bottom_card{
    margin-bottom:250px;
}

.logoTeste{
    width:50px;
    height:50px;
}

.cards_prop {
    width: 450px;
    height: 450px;
    margin-top: 200px;
}

.cards_obs {
    width: 291px;
    height: 459px;
    margin-top: 12px;
}

.maiusculo_Teste {
    font-variant: small-caps;
    margin-top:10%;
}

.Title_sobre {
    font-variant: small-caps;
    margin-top: 2%;
}
.cards_props {
    width: 391px;
    height: 391px;
    
}

.teste{
    margin-bottom:10%
}

footer {
    background-color: #D2F6F9 ;
}


